<!-- <h1>que tal viajero</h1> -->
<!-- <% [1,2,3,4].each do |number| %> -->
<!-- <p>numero : <%=number %></p> -->
<!-- <%end%> -->


<%= link_to "  ir a welcome", "/welcome/index", method: :post%>
<p></p>
<%= link_to "  ir a productos", "/productos", method: :get%>
<p></p>
<%= link_to "  ir a categorias", "/categoria", method: :get%>
<p></p>
<%= link_to "  ir a carrito", "/carrito", method: :get%>
